.page-header{
    background-color: #f7f8fb ;
    padding: 50px 0;
}

@media (max-width: 800px) {
    .page-header{
        padding: 30px 0;
    }
}

.page-header .page-title{
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

.breadcrumb-link{
    text-decoration: none;
    color: black;
}

.breadcrumb-link:hover{
}